Estrutura

dicionario = {chave: valor, chave: valor, chave: valor ...}

In [17]:
mais_vendidos = {'tecnologia': 'iphone', 'refrigeracao': 'ar consul 1200 btu', 'livros': 'O alquimista', 'lazer': 'prancha de surf'}

vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'notebook asus': 2450}

Qual foi o item mais vendido nas categorias 'livros' e 'lazer'?
Quanto foi vendido de 'notebook asus' e de 'Ipad'?

In [19]:
livro = mais_vendidos['livros']
lazer = mais_vendidos['lazer']
print(livro)
print(lazer)
qtde_noteasus = vendas_tecnologia['notebook asus']
qtde_ipad = vendas_tecnologia['ipad']
print(qtde_noteasus)
print(qtde_ipad)

O alquimista
prancha de surf
2450
1000

In [21]:
# respondendo com chave
print('O livro mais vendido foi {}' .format(mais_vendidos['livros']))
print('O produto mais vendido em lazer foi {}' .format(mais_vendidos['lazer']))
# respondendo com o método get
print(vendas_tecnologia.get('notebook asus'))
print('Vendemos {} ipads' .format(vendas_tecnologia.get('ipad')))

O livro mais vendido foi O alquimista
O produto mais vendido em lazer foi prancha de surf
2450
Vendemos 1000 ipads

In [25]:
if 'copo' in vendas_tecnologia:
    print(vendas_tecnologia['copo'])
else:
    print('Copo não está dentro da lista de produtos de tecnologia')

Copo não está dentro da lista de produtos de tecnologia

In [27]:
if vendas_tecnologia.get('copo') == None:
    print('Copo não está dentro da lista de produtos de tecnologia')
else:
    print(vendas_tecnologia.get('copo'))

Copo não está dentro da lista de produtos de tecnologia

Como ADICIONAR itens no dicionário?

dicionario = {}

dicionario[chave] = valor

outra opção:
dicionario.update({chave: valor, chave: valor})

In [70]:
lucro_1tri = {'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
lucro_2tri = {'abril': 88000, 'maio': 89000, 'junho': 120000}
# adicionando 1 item
print(lucro_1tri)
lucro_1tri['abril'] = 88000
print(lucro_1tri)
# adicionando vários itens ou um dicionário a outro
lucro_1tri.update({'abril': 88000, 'maio': 89000, 'junho': 120000})
print(lucro_1tri)
# adicionando um item já existente (manualmente ou pelo update)
lucro_1tri['janeiro'] = 88000
print(lucro_1tri)

{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000}
{'janeiro': 100000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}
{'janeiro': 88000, 'fevereiro': 120000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

In [72]:
lucro_fev = 85000

lucro_1tri['fevereiro'] = lucro_fev
print(lucro_1tri)

{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000, 'junho': 120000}

Remover itens

In [58]:
# removendo o mês de junho
del lucro_1tri['junho']
print(lucro_1tri)

# obs: o del também funciona para listas, caso queira usar
# del lista[i]
funcionarios = ['João', 'Lira', 'Maria', 'Ana', 'Paula']

{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000}

In [52]:
# removendo o mês de junho
lucro_jun = lucro_1tri.pop('junho')
print(lucro_1tri)
print(lucro_jun)

# obs: o del também funciona para listas, caso queira usar
# del lista[i]
funcionarios = ['João', 'Lira', 'Maria', 'Ana', 'Paula']

{'janeiro': 88000, 'fevereiro': 85000, 'março': 90000, 'abril': 88000, 'maio': 89000}
120000

In [66]:
# removendo o mês de junho
lucro_jun = lucro_1tri.pop('junho')
# print(lucro_1tri)
# print(lucro_jun)

lucro_1tri.clear()
print(lucro_1tri)

# obs: o del também funciona para listas, caso queira usar
# del lista[i]
funcionarios = ['João', 'Lira', 'Maria', 'Ana', 'Paula']

{}

In [74]:
# removendo o mês de junho
lucro_jun = lucro_1tri.pop('junho')
# print(lucro_1tri)
# print(lucro_jun)

lucro_1tri.clear()
print(lucro_1tri)

# obs: o del também funciona para listas, caso queira usar
# del lista[i]
funcionarios = ['João', 'Lira', 'Maria', 'Ana', 'Paula']
del funcionarios[0]
print(funcionarios)

{}
['Lira', 'Maria', 'Ana', 'Paula']