Estrutura

for chave in dicionario:
    fa√ßa alguma coisa

In [1]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

# demonstrando o for
for chave in vendas_tecnologia:
	print(chave)

iphone
samsung galaxy
tv samsung
ps5
tablet
ipad
tv philco
notebook hp
notebook dell
notebook asus

In [20]:
vendas_tecnologia = {'iphone': 15000, 'samsung galaxy': 12000, 'tv samsung': 10000, 'ps5': 14300, 'tablet': 1720, 'ipad': 1000, 'tv philco': 2500, 'notebook hp': 1000, 'notebook dell': 17000, 'notebook asus': 2450}

# demonstrando o for
for chave in vendas_tecnologia:
	print('{}: {} unidades'.format(chave, vendas_tecnologia[chave]))

iphone: 15000 unidades
samsung galaxy: 12000 unidades
tv samsung: 10000 unidades
ps5: 14300 unidades
tablet: 1720 unidades
ipad: 1000 unidades
tv philco: 2500 unidades
notebook hp: 1000 unidades
notebook dell: 17000 unidades
notebook asus: 2450 unidades

Qual o total de notebooks vendidos?

In [70]:
total_notebooks = 0
for chave in vendas_tecnologia:
    if 'notebook' in chave:
        total_notebooks += vendas_tecnologia[chave]

print(total_notebooks)

20450